<h1>{{question.shortQuestion}}</h1>
<p>{{question.longQuestion}}</p>
<hr>
<h5><a href="mailto: {{question.email}}">{{question.username}}</a></h5>
<h6>Topic: {{question.topic}}</h6>
<hr>
{{update-question question=question update="update"}}
